@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
body, html {
  font-family: "Varela Round", sans-serif;
  height: 100%;
  overflow-x: hidden;
}

* {
  margin: 0;
}

.orange-bottom-border {
  border-bottom: 2px solid #ff5e00;
}

.pink-bottom-border {
  border-bottom: 2px solid #f70052;
}

.blue-bottom-border {
  border-bottom: 2px solid #070a68;
}

@keyframes backgroud-slides {
  from {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../asset/bg-4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  to {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(14, 13, 13, 0.6)), url("../asset/bg3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.logo a{
  text-decoration: none !important;
 /* color:#070a68 !important;
  font-weight: bold !important;
  font-size: 25px;*/
}
.logo img{
  padding-top: 0;
}
/*header style rules*/
.main-banner {
  animation: backgroud-slides 5s;
  transition: backgroud ease-out;
  height: 100%;
  position: relative;
  top: 0;
  animation-iteration-count: infinite;
  -webkit-transition: backgroud ease-in-out;
  transition-delay: 5s;
  -webkit-transition-delay: 4s;
}

.nav-container {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.nav-container nav {
  color: white;
  color: #070a68;
  padding: 10px;
  display: inline-block;
}

.nav-menu {
  display: inline-block;
  padding: 12px;
}
.nav-menu a {
  color: #070a68;
  display: inline-block;
  text-decoration: none;
}
.nav-menu a:hover {
  color: #f70052;
}

.dropdown-menu {
  display: none;
}

.nav-menu:hover .dropdown-menu {
  background-color: white;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2);
  display: block;
  position: absolute;
  top: 70px;
  overflow: auto;
  /*overflow: hidden;
  z-index: -999;*/
}
.nav-menu:hover .dropdown-menu a {
  display: block;
  text-decoration: none;
  padding: 12px 14px;
}

.main-menu {
  position: absolute;
  right: 20px;
}
.main-menu a {
  color: #070a68;
  display: inline-block;
  text-decoration: none;
  padding: 12px 14px;
}
.main-menu button {
  border: none;
  background-color: transparent;
  outline-style: none;
  appearance: button;
  color: #070a68;
}

.slide-content {
  position: relative;
  top: 25%;
}

.text-banner {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.text-banner h1 {
  font-size: 4em;
  word-spacing: 0.006em;
  color: white;
}
.text-banner a {
  text-decoration: none;
  padding: 10px;
  background-color: #070a68;
  appearance: button;
  /*color: #f70052;*/
  color:white;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0px 0px 8px 0px rgba(56, 53, 255, 0.555);
  font-size: 25px;
  text-transform: uppercase;
}
.text-banner p {
  color: white;
  font-size: 1.5em;
  padding: 10px;
}

.header-end {
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}

.grid-container {
  display: grid;
  gap: 0;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  background-color: white;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: white;
}

.grid-item {
  padding: 10px;
  border-right: 1px solid rgba(126, 124, 124, 0.301);
}
.grid-item h2 {
  text-align: center;
  color: #070a68;
  padding: 10px;
}
.grid-item p {
  text-align: justify;
  line-height: 30px;
  color: rgba(13, 14, 13, 0.5);
  font-size: 17px;
  font-weight: bold;
  padding: 20px;
}
/**upadte on 05-03-2022*/
.main, .section-4 {
  margin-left: calc(100vw - 95vw);
  margin-right: (100vw - 90vw);
  margin-top: 200px;
}

.flex-container {
  display: flex;
}

.sm-grid-container {
  width: 600px;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.sm-grid-item {
  align-content: justify;
  flex-wrap: wrap;
  padding: 10px;
}
.sm-grid-item h2 {
  color: #070a68;
}
.sm-grid-item p {
  color: rgba(13, 14, 13, 0.5);
  line-height: 30px;
}

.article {
  width: 500px;
  margin-right: 30px;
}
.article h1 {
  font-size: 3em;
  font-weight: 400px;
  color: #070a68;
}

#subtitle {
  color: #070a68;
  text-transform: uppercase;
}

.section-3 {
  display: flex;
  margin-top: 50px;
}

.bgsection-1 {
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 4, 255, 0.438), rgba(43, 5, 255, 0.384)), url("../asset/bg-4.jpg");
  position: relative;
  width: 50%;
  max-width: 100%;
}
.bgsection-1 article {
  padding: 30px;
  flex-wrap: wrap;
}
.bgsection-1 h1 {
  font-size: 2.5em;
}
.bgsection-1 P {
  font-size: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.bgsection-1 a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  padding: 10px;
  border-radius: 5px;
  background-color: #03aa43ec;
  font-weight: bold;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  margin: 10px;
}

.bgsection-2 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 4, 255, 0.438), rgba(43, 5, 255, 0.384)), url("../asset/bg1.jpg");
  max-width: 100%;
  width: 50%;
  max-width: 100%;
  color: white;
}
.bgsection-2 article {
  padding: 20px;
  flex-wrap: wrap;
}
.bgsection-2 .item-list li {
  list-style: none;
  color: white;
  padding: 8px;
  font-size: 25px;
}
.bgsection-2 article {
  padding: 20px;
  flex-wrap: wrap;
}
.bgsection-2 h1 {
  font-size: 2.5em;
  text-align: justify;
  padding: 8px;
}
.bgsection-2 P {
  font-size: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.bgsection-2 a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
}

.section-4 {
  margin-top: 100px !important;
}

.lg-grid-container {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.bg-white {
  border-radius: 8px;
  background-color: white;
  transition: transform 0.2s;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  flex-wrap: wrap-reverse;
  box-sizing: content-box;
}
.bg-white h1 {
  font-family: "Varela Round", sans-serif;
  color: rgba(0, 0, 0, 0.8);
}
.bg-white [data-quote-btn] {
  display: none;
}

.title-section {
  padding: 20px;
  flex-wrap: wrap;
}

.bg-white:hover {
  transform: scale(1.1);
}

/*.bg-white:hover [data-quote-btn]{
    display: block;
    border: none;
    border-radius: 20px;
    background-color: $second-color;
    color: white;
    padding: 10px;
    width: auto;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}*/
.main-title h1 {
  color: #070a68;
  font-size: 2.5em;
  margin-bottom: 30px;
}

.client-section {
  margin-top: 50px;
  background-color: #fcfcfc;
}
.client-section h1 {
  font-size: 2.5em;
  text-align: center;
  color: #070a68;
  padding: 10px;
}
.client-section p {
  text-align: center;
  letter-spacing: 0.05em;
  padding: 10px;
  font-size: 25px;
  color: rgba(13, 14, 13, 0.5);
  line-height: 40px;
}

.client-logo {
  margin-left: 50px;
  margin-right: 50px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.client-logo img {
  padding: 10px;
  max-width: 100%;
  height: 70px;
}

.blog {
  margin-top: 100px;
}

.title-container {
  padding: 30px;
  text-align: center;
}
.title-container span {
  text-transform: uppercase;
  color: #070a68;
}
.title-container h1 {
  font-size: 2.5em;
  color: #070a68;
}

.blog-list {
  margin-right: 50px;
  margin-left: 50px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.blog-item {
  /* background-image: url(attr(data-background));
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;*/
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  flex-wrap: wrap;
  padding: 20px;
}
.blog-item img {
  width: 100%;
  height: auto;
}

.blog-item:hover {
  /*background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  //transition: ease-out, background-image ;
  //color:white;
  //transform: backgroud 1s;
  h1,small,a{
      color: white;
      transform: scale(1.1);
  }*/
  transition: ease-in-out, img 2.5s;
}
.blog-item:hover img {
  transform: scale(1.1);
}
.blog-item:hover .blog-content {
  margin-top: 20px;
}

.blog-content {
  color: #070a68;
}
.blog-content small {
  text-transform: uppercase;
}

.blog-menu {
  margin-top: 50px;
}
.blog-menu a {
  text-decoration: none;
}

.about-content {
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
}

.about-us {
  padding: 10px;
  width: 600px;
  margin-right: 20px;
  max-width: 100%;
}
.about-us img {
  height: auto;
  width: 100%;
}
.about-us h1 {
  color: #070a68;
}
.about-us p {
  line-height: 30px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.562);
}

/*.about-background{

}*/
.form-area {
  display: flex;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 100px;
}

.contact-content {
  width: 700px;
  margin-left: 50px;
}

.form-group {
  margin: 15px;
}
.form-group label {
  position: relative;
  top: -15px;
}
.form-group textarea, .form-group input {
  width: 100%;
  border: 1px solid rgba(36, 36, 36, 0.3);
  padding: 10px;
  background-color: transparent;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
.form-group textarea:focus, .form-group input:focus {
  outline-style: none;
  border: 1px solid #070a68;
}

.grid-area {
  width: 600px;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.lg-form {
  padding-left: 150px;
}
.lg-form button {
  border-radius: 5px;
  border: none;
  padding: 10px;
  margin: 5px;
  font-size: 15px;
  background-color: #070a68;
  color: white;
  width: 200px;
  max-width: 100%;
  appearance: button;
  font-size: 20px;
}

.address span {
  color: rgba(5, 5, 5, 0.6);
  text-align: justify;
  padding: auto;
  font-size: 30px;
}

/*Partner logo**/
@keyframes partner-logo {
  from {
    position: relative;
    right: 0;
  }
  to {
    position: relative;
    right: 1500px;
  }
}
.parter-logo {
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
}
.parter-logo h1 {
  color: #666666;
  font-size: 3.5em;
  padding: 20px;
}

.image-container {
  display: block;
  overflow: hidden;
  /*  animation: partner-logo 5s infinite; 
  transition: margin ease-in-out;*/
}

.image-box {
  display: block;
  animation: partner-logo 6s infinite;
  transition: margin ease-in;
  padding: 40px;
  display: inline-block;
}
.image-box h2 {
  color: #666666;
  text-align: center;
}

.newsletter-form {
  margin-left: 150px;
  margin-right: 150px;
  padding: 20px;
  display: block;
}
.newsletter-form input {
  border: 1px solid transparent;
  width: 600px;
  padding: 19px;
  border-radius: 5px;
}
.newsletter-form input:focus {
  border: none;
  outline-style: none;
}
.newsletter-form button {
  background-color: #f70052;
  color: white;
  padding: 16px;
  border: none;
  font-size: 20px;
  font-family: "Varela Round", sans-serif;
  width: 200px;
}

.newsletter {
  background-color: #070a68;
}
.newsletter h1 {
  text-align: center;
  color: white;
  padding: 20px;
}

footer {
  background-color: #ffff;
  overflow-x: hidden;
  position: relative;
}

.footer-grid {
  margin: 20px;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.footer-content h2 {
  text-align: justify;
  color: rgba(0, 0, 0, 0.603);
}
.footer-content li {
  list-style: none;
  padding: 14px 16px;
  color: rgba(0, 0, 0, 0.603);
  display: block!;
}
.footer-content a, .footer-content p {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.603);
  display: block;
  padding: 10px;
}
.footer-content i {
  padding-right: 10px;
}

[data-scroll-top] {
  position: absolute;
  overflow: hidden;
  bottom: 50px;
  font-size: 30px;
  right: 20px;
  border: none;
  box-shadow: 0px 0px 8px 0px rgba(17, 17, 17, 0.76);
border-radius: 80%;
  background-color: #070a68;
  color: white;
  padding: 5px;
}

[data-scroll-top]:focus {
  outline-style: none;
}

/**hide mobile nav menu on the desktop screen ***/
.mobile-menu-btn {
  display: none;
}

.close-btn {
  display: none;
}

@keyframes mobile-menu-slide {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.mobile-nav-menu {
  display: block;
  padding: 8px;
}
.mobile-nav-menu a {
  color: #070a68;
  display: inline-block;
  text-decoration: none;
}
.mobile-nav-menu a:hover {
  color: #f70052;
}

.mobile-nav-menu:hover .dropdown-menu {
  margin-left: 0;
  display: block;
  z-index: 1;
}
.mobile-nav-menu:hover .dropdown-menu a {
  display: block;
  text-decoration: none;
  padding: 10px 12px;
}

.search-container {
  position: absolute;
  top: 0;
  z-index: 1;
  background-color: white;
  width: 100%;
  height: 100%;
  display: none;
}
.search-container form {
  position: relative;
  top: 30%;
}
.search-container input[type=text] {
  width: inherit;
  cursor: text;
  border-bottom: 2px solid #0100;
}
.search-container input[type=text]:focus {
  border-bottom: 2px solid #070a68;
  outline-style: none;
  transition: ease-in, border-bottom 2s;
}

@media (max-width: 740px) {
  /*.dropdown-menu{

   display: none;

  }*/
  .address {
    text-align: center !important;
  }
  .address span {
    color: rgba(5, 5, 5, 0.6);
    padding: 8px;
    font-size: 15px;
  }

  .client-logo {
    margin: auto;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
  .client-logo img {
    padding: 10px;
    max-width: 100%;
    height: 50px;
  }

  /*.bg-white:hover [data-quote-btn] {
    display: none;
   
  }*/

  .logo {
    display: block !important;
   /* float: right;
    display: block;*/
   
   
  }
.logo a{
  text-decoration: none !important;
  display: block;
  /*color:#070a68 !important;
  font-weight: bold !important;
  font-size: 25px !important;*/
}
  .mobile-menu-btn {
    display: block;
    color: #070a68;
    appearance: button;
    position: absolute;
    padding: 10px;
    background-color: transparent;
    border: none;
    font-size: 25px;
    margin: auto;
  }

  .close-btn {
    display: block;
    color: #f70052;
    appearance: button;
    position: absolute;
    padding: 10px;
    right: 5px;
    background-color: transparent;
    border: none;
    font-size: 25px;
    margin: auto;
  }

  .mobile-menu-btn:focus {
    outline-style: none;
    color: #f70052;
  }

  .main-banner {
    height: 80%;
  }

  .text-banner {
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    flex-wrap: wrap;
    box-sizing: content-box;
    width: inherit;
  }
  .text-banner h1 {
    font-size: 2em;
    word-spacing: 0;
    color: white;
  }
  .text-banner a {
    text-decoration: none;
    padding: 5px;
    background-color: #070a68;
    appearance: button;
    /*color: #f70052;*/
    color: white;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 0px rgba(56, 53, 255, 0.555);
    font-size: 25px;
    text-transform: uppercase;
  }
  .text-banner p {
    color: white;
    font-size: 1.5em;
    padding: 10px;
  }

  .slide-content {
    position: relative;
    top: 35%;
  }

  .nav-container {
    height: 50px;
    position: fixed;
    z-index: 1;
    
  }

  
  .nav-box {
    display: none;
  }

  /*this rule replace the nav box when the button is clicked**/
  .mobile-nav {
    background-color: white;
    width: 80%;
    overflow: hidden;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    animation: mobile-menu-slide 1s;
    transition: width ease-out;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    /* a,div{
         display: block !important;

     }*/
  }
  .mobile-nav nav {
    display: block;
  }

  .header-end {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .flex-container {
    flex-direction: column;
  }

  .main, .section-4 {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 450px;
  }

  .article {
    width: 100%;
    margin-right: 5px;
  }
  .article h1 {
    font-size: 30px !important;
    color: #070a68;
  }

  .section-3 {
    flex-direction: column;
    margin-top: 20px;
  }

  .bgsection-1 {
    width: 100%;
  }
  .bgsection-1 article {
    padding: 10px;
    flex-wrap: wrap;
  }
  .bgsection-1 h1 {
    font-size: 25px;
  }
  .bgsection-1 P {
    font-size: normal;
    padding: 10px;
  }
  .bgsection-1 a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
  }

  .bgsection-2 {
    width: 100%;
    color: white;
  }
  .bgsection-2 article {
    padding: 20px;
    flex-wrap: wrap;
  }
  .bgsection-2 article {
    padding: 10px;
    flex-wrap: wrap;
  }
  .bgsection-2 h1 {
    font-size: 25px;
  }
  .bgsection-2 P {
    font-size: 25pxpx;
    padding: 10px;
  }
  .bgsection-2 a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
  }

  .section-4 {
    margin-top: 30px;
  }

  .about-content {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .about-us {
    padding: 10px;
    width: 100%;
    margin-right: 0;
  }
  .about-us img {
    height: auto;
    width: 100%;
  }
  .about-us h1 {
    color: #070a68;
  }
  .about-us p {
    line-height: 30px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.562);
  }

  .client-section {
    background-color: #fcfcfc;
  }
  .client-section h1 {
    font-size: 25px;
    text-align: center;
    color: #070a68;
    padding: 10px;
  }
  .client-section p {
    text-align: center;
    letter-spacing: 0.05em;
    padding: 10px;
    font-size: 20px;
    color: rgba(13, 14, 13, 0.5);
    line-height: 30px;
  }

  .form-area {
    display: block;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
  }

  .contact-content {
    width: 100%;
    margin-left: 0;
  }

  .lg-form {
    padding-left: 0;
  }
  .lg-form button {
    border-radius: 5px;
    border: none;
    padding: 10px;
    margin: 5px;
    font-size: 20pxpx;
    background-color: #070a68;
    color: white;
    font-size: 20px;
    width: 100%;
    appearance: button;
  }
  .lg-form input, .lg-form textarea {
    width: 90%;
  }

  .grid-area {
    width: auto;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  .form-group {
    margin: 5px;

  }
  .form-group label {
    position: relative;
    top: -10px;
  }
  .form-group input, .form-group textarea {
    width: 90%;
  }

  .newsletter-form {
    margin-left: 5px;
    margin-right: 5px;
    display: block;
    padding: 10px;
  }
  .newsletter-form input {
    border: 1px solid transparent;
    width: 90%;
    display: block;
    padding: 14px;
    margin: 10px;
  }
  .newsletter-form input:focus {
    outline: none;
    border: none;
  }
  .newsletter-form button {
    background-color: #f70052;
    color: white;
    padding: 13px;
    border: none;
    margin: 10px;
    width: 90%;
    font-size: 20px;
    display: block;
    font-family: "Varela Round", sans-serif;
  }

  .newsletter {
    background-color: #070a68;
  }
  .newsletter h1 {
    text-align: center;
    color: white;
    padding: 20px;
  }

  .parter-logo {
    margin-top: 30px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .parter-logo h1 {
    color: #666666;
    font-size: 3em;
    padding: 20px;
  }

  @keyframes partner-mobile-logo {
    from {
      position: relative;
      right: 0;
    }
    to {
      position: relative;
      right: 100%;
    }
    /* from{
            position: relative;
           //margin-right: 0;
           right: 0;
        }
        to{
            position: relative;
            right:100%;
    //margin-left: 100px;
        }*/
  }
  .image-container {
    width: 1500px;
    overflow: hidden;
    display: block;
    animation: partner-mobile-logo 5s infinite;
    transition: margin ease-in-out;
  }
}
@media (max-width:375px) {
  .main, .section-4 {
    margin-top: 550px;
  } 
}
@media (max-width: 1180px) {
  .main-banner {
    animation: backgroud-slides 5s;
    transition: backgroud ease-out;
    height: 80%;
    position: relative;
    top: 0;
    animation-iteration-count: infinite;
    -webkit-transition: backgroud ease-in-out;
    transition-delay: 5s;
    -webkit-transition-delay: 4s;
  }

  .header-end {
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .grid-container {
    display: grid;
    gap: 0;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    background-color: white;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: white;
  }

  .flex-container {
    flex-direction: column;
  }

  .sm-grid-container, .article {
    width: 100%;
  }
  .sm-grid-container h1, .article h1 {
    font-size: 3em;
  }

  .section-3 {
    margin-top: 20px;
    flex-direction: column;
  }

  .bgsection-1, .bgsection-2 {
    width: 100%;
  }

  .mobile-menu-btn {
    display: block;
    color: #070a68;
    appearance: button;
    position: absolute;
    padding: 10px;
    background-color: transparent;
    border: none;
    font-size: 25px;
    margin: auto;
  }

  .close-btn {
    display: block;
    color: #f70052;
    appearance: button;
    position: absolute;
    padding: 10px;
    right: 5px;
    background-color: transparent;
    border: none;
    font-size: 25px;
    margin: auto;
  }

  .mobile-menu-btn:focus {
    outline-style: none;
    color: #f70052;
  }

  .newsletter-form {
    margin-left: 5px;
    margin-right: 5px;
    display: block;
    padding: 10px;
  }
  .newsletter-form input {
    border: 1px solid transparent;
    width: 90%;
    display: block;
    padding: 14px;
    margin: 10px;
  }
  .newsletter-form input:focus {
    outline: none;
    border: none;
  }
  .newsletter-form button {
    background-color: #f70052;
    color: white;
    padding: 13px;
    border: none;
    margin: 10px;
    width: 90%;
    font-size: 20px;
    display: block;
    font-family: "Varela Round", sans-serif;
  }

  /*this rule replace the nav box when the button is clicked**/
  .mobile-nav {
    background-color: white;
    width: 80%;
    overflow: hidden;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    animation: mobile-menu-slide 1s;
    transition: width ease-out;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
   
  }
  .mobile-nav nav {
    display: block;
  }

  .logo {
    display: none !important;
  }

  .nav-container {
    height: 50px;
  }
  .nav-container .nav-box {
    display: none;
  }

  .form-area {
    display: block;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
  }

  .contact-content {
    width: 100%;
    margin-left: 0;
  }

  .lg-form {
    padding-left: 0;
  }
  .lg-form button {
    border-radius: 5px;
    border: none;
    padding: 10px;
    margin: 5px;
    font-size: 20pxpx;
    background-color: #070a68;
    color: white;
    font-size: 20px;
    width: 400px;
    appearance: button;
  }
  .lg-form input, .lg-form textarea {
    width: 90%;
  }

  .grid-area {
    width: auto;
    display: block;
  }

  .form-group {
    margin-bottom: 10px;
   
  }
  .form-group label {
    position: relative;
    top: auto;
  }
  .form-group input, .form-group textarea {
    width: 95%;
  }
}
@media (max-width: 550px) {
  .header-end {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .main-banner {
    height: 90%;
  }
}
.footer-border{
  background-color: #070a68;
height: 50px;
}
/*# sourceMappingURL=main.style.css.map */
